.ppl__single-person {
	position: relative;
	$portrait_box: 150px;
	
	.ppl__card_header {
		min-height: $cover_photo_height * 2;
		margin-bottom: $m-sm;
	} 

	.ppl_icon-spacer {
		width: 40px;
		text-align: center;
	}

	.ppl__card_name, 
	.ppl__card_work_title {
		position: absolute;
		left: 70px + $portrait_box;
		
		padding: 0;		
	}

	.ppl__card_name {
		font-size: 40px;
		top: 60px;
		font-weight: bold;
	}

	.ppl__card_work_title {
		font-size: 20px;
		top: 110px;
		font-weight: normal;
	}

	.ppl__card_portrait_wrapper  {
		position: absolute;
		top: $cover_photo_height;
		left: 40px;
	}

	.ppl__card_portrait_thumbnail {
		margin-top: -$portrait_box/2;
		margin-bottom: $m-sm;			
		width: $portrait_box;
	}	


	.ppl__card_details {
		padding-left: 60px + $portrait_box;
		padding-bottom: 20px;
	}

}