// Hide the default title meta box
#titlediv {
	display: none;
}

// Person Preview
.ppl__card_wrapper {
	background: white;
	margin: auto;

	.ppl__card_details,
	.ppl__card_portrait_wrapper {
		transition: 500ms linear all;
	}

	.ppl__card_portrait_wrapper {
		transform: translateY(0);
	}

	&.js-ppl__loading {
		.ppl__card_details,
		.ppl__card_portrait_wrapper {
			opacity: 0;
		}

		.ppl__card_portrait_wrapper {
			transform: translateY(-40px);
		}
	}


	// Style the preview
	.ppl__card_portrait_wrapper  {
		position: absolute;
		top: 90px;
		left: 20px;
	}
	.ppl__card_details-preview {
		padding-left: 70px + $portrait_box;
		padding-bottom: 20px;
	}
}
