// Hide the default title meta box
#titlediv,
// // Hide the taxonomy boxes. We move these into the vertical tabs system via JS
// #foopeople-teamdiv,
// #foopeople-skilldiv,
// #foopeople-locationdiv ,
#side-sortables #postimagediv
{
	display: none;
}



// Person Preview
.ppl__card_wrapper {
	background: white;
	margin: auto;

	.ppl__card_details,
	.ppl__card_portrait_wrapper {
		transition: 500ms linear all;
	}

	.ppl__card_portrait_wrapper {
		transform: translateY(0);
	}

	&.js-ppl__loading {
		.ppl__card_details,
		.ppl__card_portrait_wrapper {
			opacity: 0;
		}

		.ppl__card_portrait_wrapper {
			transform: translateY(-40px);
		}
	}
}
