// Admin Buttons
// ---------------------------

.wrap .add-new-h2,

.wrap .page-title-action,

.wp-core-ui .button-primary,

.wp-core-ui .button-group.button-large .button,
.wp-core-ui .button.button-large {
	@extend .btn;
	@extend .btn-primary;
	height: auto;

	&:focus, &:active {
		height: auto;
	}
}


// Admin Settings page
// ---------------------------
.admin__header {
	border-radius: 0 0 $border-radius $border-radius;
	padding: $m-sm;
	background: $gray-900;
	min-height: 50px;
	text-align: center;
	@include media-breakpoint-up(sm) {
		background: $gray-900 url('../svg/banner-bg.svg') center right no-repeat;
		background-size: contain;
	}
}
.admin__wrapper {
	background: $white;
	padding: 0 8px;
	border-radius: 0 0 $border-radius $border-radius;
	@include media-breakpoint-only(xs) {
		margin-right: 10px;
	}
	@include media-breakpoint-up(sm) {
		margin-right: 20px;
	}
}

.admin__panel {
	position: relative;
	@include media-breakpoint-up(sm) {
		padding: $m-sm $m-md;
	}
	@include media-breakpoint-only(xs) {
		padding: $m-sm;
	}
}

#fireworks_admin_settings {
	// Loading State
	&[data-admin-is-loading="true"] {
		.admin__panel {
			opacity: 0;
		}
		.firework-spinner {
			display: block;
		}
	}
}

