// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}

h1, .h1 { @include fluid-type(320px, 1200px, 24px, 28px);}
h2, .h2 { @include fluid-type(320px, 1200px, 20px, 24px); }
h3, .h3 { @include fluid-type(320px, 1200px, 18px, 20px); }
h4, .h4 { @include font-size($h4-font-size); }
h5, .h5 { @include font-size($h5-font-size); }
h6, .h6 { @include font-size($h6-font-size); }

p {
	margin: 0;
	margin-bottom: $m-sm;
}


.strong {
	font-weight: bold;
}


img {
	max-width: 100%;
	height: auto;
}
//
// Lists
//

.list-unstyled {
	@include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
	@include list-unstyled;
}
.list-inline-item {
	display: inline-block;

	&:not(:last-child) {
	margin-right: $list-inline-padding;
	}
}


.text-choice {
	border-top: solid 1px $border-color;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.2rem 0 0 0;
	text-transform: uppercase;
	span {
		position: relative;
		background: white;
		top: -.6rem;
		padding: 0 .6rem;
	}
}